.topbar {
    height: 64px;
    border-bottom: 1px solid var(--md-sys-color-outline-variant);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
}

.search-container {
    position: relative;
    width: 300px;
}

.search-icon {
    width: 1em;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--md-ref-palette-neutral-50);
}

.search-input {
    width: 100%;
    padding: 10px 10px 10px 36px;
    border-radius: 8px;
    border: none;
    background-color: var(--md-sys-color-surface-container-high);
    font-size: 0.85rem;
    outline: none;
}